server:
  port: 8081
  address: 0.0.0.0
spring:
  application:
    name: kafka-producer
management:
  endpoint:
    health:
      group:
        readiness:
          # Include standard readiness checks + our custom kafka check
          include: readinessState, kafkaTopics
      probes:
        enabled: true
